@use './helpers/abstracts' as *;

.hero{
	display: flex;
	flex-direction: row;
	row-gap: 10px;
	align-items: center;
	

  }
  .hero__info_wrap {
	width: 57%;
	display: flex;
	flex-direction: column;	

  }
  
  .hero__title{
	width: 716px;
height: 220px;
font-size: 60px;
font-weight: 700;
line-height: 110px;
letter-spacing: 0.20000000298023224px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
text-wrap: wrap;
margin-bottom: 42px;
  }

.products_logo{
	position: relative;
    top: -12.2rem;
    left: 21rem;
}
  .hero__descr{
	width: 555px;
	height: 108px;
	opacity: 0.8px;
	font-family: Poppins;
	font-size: 20px;
	font-weight: 400;
	line-height: 36px;
	text-align: left;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;

  }
  .hero__footer{
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	column-gap: 35px;

  }
  .btn_base.btn--purple{
	width: 181px;
	height: 47px;
	padding: 10px 40px 10px 40px;
	gap: 10px;
	border-radius: 12px;
	background: #706FE5;
	font-family: Poppins;
	font-size: 16px;
	font-weight: 600;
	line-height: 27px;
	text-align: center;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
	color: #FFFFFF;
	cursor: pointer;
	transition: all 0.3s ease-in-out
  }

.btn_base.btn--purple:hover {
	background-color: rgba(255, 255, 255, 1);
    color:#706FE5;
}

.white_btn_text{
	width: 14.6rem;
    height: 4.8rem;
	font-family: Poppins;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
	color: #2E3E5C;
	
}
.round_btn{
	width: 48px;
	height: 48px;

}
.btn_base.btn--white{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	column-gap: 13px;
	width: 252px;
	height: 80px;
}

.btn_base.btn--white:active,
.btn_base.btn--white:focus,
.btn_base.btn--white:hover {

	border: 1px solid #706FE5;
	border-radius: 40px;
}


.hero__picture {
	position: relative;
	z-index: 1;
	min-width: 51.7rem;
	max-width: 51.7rem;
	width: 51.7rem;
	left: 50px;

	&::before {
		content: "";
		display: block;
		position: absolute;
		bottom: 0;
		left: 50%;
		
		z-index: -1;
		width: 39.7rem;
		height: 39.7rem;
		border-radius: 50%;
		border: 1rem solid rgba(112, 111, 229, 1);
		background: rgba(112, 111, 229, 0.15);
		transform: translateX(-50%);
	}
	&__reviews {
		position: absolute;
	}

	&__circle {
		position: absolute;
	}
}

.hero__picture__reviews_img {
    position: absolute;
    width: 27rem;
    height: 16rem;
	bottom: 3.5rem;
	left: 13rem;

    overflow: hidden;
    @extend %contain_img;

}

.hero__picture__circle--almaz {
	top: -3.5rem;
    left: -5.5rem;
	width: 4.8rem;
    height: 4.8rem;
}

.hero__picture__circle--xd {
    top: 2.6rem;
    left: 2.6rem;
    width: 7rem;
    height: 7rem;
}

.hero__picture__circle--figma {
    top: 5rem;
    right: 1.5rem;
	width: 8.4rem;
    height: 8.4rem;
}

.hero__picture__reviews_circle {
	position: relative;
	display: flex;
    width: 8.4rem;
    height: 8.4rem;
    background-color:rgba(112, 111, 229, 1);
    border-radius: 50%;
	bottom: 2.2rem;
    left: 33.3rem;
}