@use './helpers/abstracts' as *;

html {
	// font-size: calc(100dvw / 1920 * 10);
	
	@include bp($point_1, min) {
		font-size: 10px;	
	}
	
	
}

html,
body {
	height: 100%;
	font-weight: 400;
	scroll-behavior: smooth;
}

body {
	font-family: "Poppins", sans-serif;
	color: $color_text;
}

.wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100%;
	overflow: hidden;
}

.main {
	flex-grow: 1;
	width: 100%;
}

.section {
	position: relative;
	width: 100%;
	padding: 10rem 0;

	&.section--bg {
		background-color: rgba(112, 111, 229, 0.02);
	}

	&.section_decor {
		&::after ,
		&::before {
			position: absolute;
			top: -2rem;
	
			content: "";
	
			width: 11.4rem;
			height: 10rem;
	
			background-image: url(../imgs/comments_decor.svg);
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
		}
	
		&::after {
			left: 10rem;
			top: 7rem
		}
		&::before {
			top: 70rem;
			right: 10rem;
		}

	.container {
		display: flex;
		flex-direction: column;
	}
	}

}



.section__title {
	font-size: 4rem;
	font-weight: 800;
	line-height: 1.5;
	color: $color_title;

	&.section__title--center {
		text-align: center;
	}
}

.container {
	max-width: 118rem;
	width: 100%;
	padding: 0 2rem;
	margin: 0 auto;
}


.swiper {
	width: 600px;
	height: 300px;
  }
  .img{
	width: 100%;
	height: 100%;

  }

  .header__in{
	width: 1170px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	column-gap: 266px;
  }

  .header_logo{
	width: 94px;
	height: 38px;
	padding-top: 1.5rem;
  }

  .header_img_logo{
	width: 100%;
	height: 100%;
	object-position: center;
  	object-fit: cover;
  }
  
  .nav{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
  }

  .nav__list{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	column-gap: 6.5rem;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 2.8rem;
	text-align: left;


	padding-top: 3rem;
	text-decoration: none;

  }

.nav__link {
	color: #1E1F4B;
	text-decoration: none;
}

.nav__link:hover {
	color: rgba(112, 111, 229, 1);
}

.top_button {
	left: 100%;
	bottom: 0;
	position: sticky;

	translate: -2rem -2rem;
	width: 5rem;
	height: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: #706FE5;
	cursor: pointer;
	
	
}

.top_button__svg {
	display: block;
	width: 2rem;
	height: 2rem;
	object-fit: contain;
	object-position: center;
	color: $color_white;
}