@use './helpers/abstracts' as *;

html {
	// font-size: calc(100dvw / 1920 * 10);

	font-size: 10px;
}

html,
body {
	height: 100%;
	font-weight: 400;
	scroll-behavior: smooth;
}

body {
	font-family: $font_1;
	color: $color_text;
}

.wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100%;
	overflow: hidden;
}

.main {
	flex-grow: 1;
	width: 100%;
}

.section {
	position: relative;
	width: 100%;
	padding: 10rem 0;

	&.section--bg {
		background-color: $color_bg_2;
	}

	&.section_decor {
		&::after ,
		&::before {
			position: absolute;
			top: -2rem;
	
			content: "";
	
			width: 10rem;
			height: 7rem;
	
			background-image: url(../imgs/comments_decor.svg);
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
		}
	
		&::after {
			left: 10rem;
			top: 7rem
		}
		&::before {
			top: 48rem;
			right: 10rem;
		}

	.container {
		display: flex;
		flex-direction: column;
	}
	}

}



.section__title {
	font-size: 4rem;
	font-weight: 800;
	line-height: 1.5;
	color: $color_title;

	&.section__title--center {
		text-align: center;
	}
}

.container {
	max-width: 118rem;
	width: 100%;
	padding: 0 2rem;
	margin: 0 auto;
}


.swiper {
	width: 600px;
	height: 300px;
  }
  .img{
	width: 100%;
	height: 100%;

  }

  .header__in{
	width: 1170px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	column-gap: 266px;
  }

  .header_logo{
	width: 94px;
	height: 38px;
	padding-top: 1.5rem;
  }

  .header_img_logo{
	width: 100%;
	height: 100%;
	object-position: center;
  	object-fit: cover;
  }
  
  .nav{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
  }

  .nav__list{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	column-gap: 6.5rem;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 2.8rem;
	text-align: left;


	padding-top: 3rem;
	text-decoration: none;

  }

.nav__link {
	color: #1E1F4B;
	text-decoration: none;
}

.nav__link:hover {
	color: $color_accent;
}


  .hero{
	display: flex;
	flex-direction: row;
	row-gap: 10px;
	

  }
  .hero__info{
	width: 57%;
	display: flex;
	flex-direction: column;	

  }
  
  .hero__title{
	width: 716px;
height: 220px;
font-size: 60px;
font-weight: 700;
line-height: 110px;
letter-spacing: 0.20000000298023224px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
text-wrap: wrap;
margin-bottom: 42px;
  }

.products_logo{
	position: relative;
    top: -12.2rem;
    left: 21rem;
}
  .hero__descr{
	width: 555px;
	height: 108px;
	opacity: 0.8px;
	font-family: Poppins;
	font-size: 20px;
	font-weight: 400;
	line-height: 36px;
	text-align: left;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;

  }
  .hero__footer{
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	column-gap: 35px;

  }
  .btn_base.btn--purple{
	width: 181px;
	height: 47px;
	padding: 10px 40px 10px 40px;
	gap: 10px;
	border-radius: 12px;
	background: #706FE5;
	font-family: Poppins;
	font-size: 16px;
	font-weight: 600;
	line-height: 27px;
	text-align: center;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
	color: #FFFFFF;
	cursor: pointer;
	transition: all 0.3s ease-in-out
  }

.btn_base.btn--purple:hover {
	background-color: rgba(255, 255, 255, 1);
    color:#706FE5;
}

.white_btn_text{
	width: 146px;
height: 48px;
	font-family: Poppins;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
	color: #2E3E5C;
	
}
.round_btn{
	width: 48px;
	height: 48px;

}
.btn_base.btn--white{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	column-gap: 13px;
	width: 252px;
	height: 80px;
}

.btn_base.btn--white:active,
.btn_base.btn--white:focus,
.btn_base.btn--white:hover {

border: 1px solid #706FE5;
border-radius: 40px;
}
.hero_img__girl{
	display: flex;
	justify-content: center;
	flex-shrink: 0;

	.hero_girl__circle{
	height: 40rem;
	width: 40rem;
	border: 1rem solid #706fe5;
	border-radius: 50%;
	background-color: rgba(112, 111, 229, 0.15);
	}
}
.hero__picture_img{
	position: absolute;
	bottom: 5rem;
	height: 46rem;
	width: 46rem;
}
.circle{
	border-radius: 50%;
}
.circle.circle--almaz{
	width: 4.7rem;
	height: 4.7rem;
	left: -4px;
	background-color: grey;

	.circle.circle--almaz_2 {
	width: 4.7rem;
	height: 4.7rem;
	background-color: #333333;
	}

}
.circle.circle--purple{
	width: 83px;
height: 83px;
angle: 90 deg;
background-color: #706FE5;
}